@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700&display=swap');

:root {
    --myBackground: #4B00AB;
    --fontColor: #707070;
    --myRed: #FE4873;
    --myGreen: #FDB93C;
    --myRadius: 10px;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    background-color: var(--myBackground);
}

/***************
CONTAINERS
***************/
.wrap {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
}


/***************
TYPOGRAPHY
***************/
h1 {
    font-size: 4rem;
    color: white;
    padding: 0.5em 0;
    text-align: center;
}

/***************
CREATE BOX
***************/
#create-box,
.notes-list-item {
    background-color: #efefef;
    border-radius: var(--myRadius);
    padding: 2em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}


/***************
MORE BOX
***************/
.more-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dots {
    font-size: 2em;
    color: var(--fontColor);
    position: relative;
    margin-left: 1em;
}

.dots:hover {
    cursor: pointer;
    opacity: 0.5;
}

.filter-box {
    display: flex;
    visibility: hidden;
    position: relative;
    width: 100%;
    justify-content: flex-start;
}

.filter-box input {
    border-radius: var(--myRadius);
    border: 0;
    padding: 2em;
    width: 60%;
}

/***************
BUTTONS
***************/


.clear-all-box {
    position: relative;
}
.clear-all {
    background-color: var(--myRed);
    border: 0;
    color: white;
    border-radius: var(--myRadius);
    font-size: 1.2em;
    padding: 1em;
    margin-left: 1em;
    width: 40%;
    font-weight: 700;
    text-align: center;
}

.clear-all:hover {
    cursor: pointer;
}

.clear-all:active {
    box-shadow: none;
}

.clear-all-popup {
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    background: white;
    top: -8.7em;
    right: -1.5em;
    z-index: 9999;
    border-radius: var(--myRadius);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

    color: var(--fontColor);
    padding-top: 2em;
    text-align: center;

}

.clear-all-popup::after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white; 
    position: absolute;
    bottom: -1em;

}

.clear-all-popup-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.clear-all-popup-options {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.clear-all-popup-no {
    margin-left: 2em;
}

.clear-all-popup-no:hover {
    cursor: pointer;
}

.clear-all-popup-yes:hover {
    cursor: pointer;
}

.create-btn-box {
    position: relative;
}
.create-btn {
    text-align: center;
    width: 100%;    
    background-color: var(--myGreen);
    border: 0;
    color: white;
    padding: 1.5em 0;
    border-radius: var(--myRadius);
    font-size: 1.2rem;
    margin-top: 2em;
    font-weight: 700;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.create-btn:hover {
    cursor: pointer;

}

.create-btn:active {
    
    box-shadow: none;
}

/***************
NOTE TITLE
***************/
.title-input-box,
.subtext-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
}

.title-input-container,
.subtext-input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#note-title,
#note-subtext
 {
    border-radius: var(--myRadius);
    border: 0;
    padding-left: 1em;
    width: 100%;
    padding: 2em;
}



/***************
NOTES LIST
***************/

#notes-list {
    position: relative;
}

.notes-list-close {
    position: block;
    font-size: 2rem;
    color: var(--fontColor);
    z-index: 9999;
    padding-bottom: 1em;
}


.notes-list-close i:hover {
    cursor: pointer;
    opacity: 0.5;
}

.notes-list-item {
    position: relative;
    margin-top: 2em;
}


.notes-list-item-delete {
    position: absolute;
    background-color: var(--myRed);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--myRadius);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 99999;
}

.notes-list-item-delete-title {
    flex: 0 0 100%;
    text-align: center;
    padding-top: 2em;
}

.notes-list-item-delete-options {
    display: flex;
    padding-bottom: 2em;
}

.notes-list-item-delete-no {
    margin-left: 1em;
}

.notes-list-item-delete-yes:hover,
.notes-list-item-delete-no:hover {
    cursor: pointer;
}

/***************
NOTES LIST ITEM TEXT
***************/
.notes-list-item-text {
}

.notes-list-item-title {
    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: 700;
    color: var(--fontColor);
    text-align: center;
}

.notes-list-item-subtext {
    margin-top: 2em;
    color: var(--fontColor);
    text-align: center;
}
/***************
NOTES LIST EDIT ITEM
***************/
.notes-list-edit-icon {
    margin-left: 0.5em;
}

.notes-list-item-edit{
    position: absolute;
    background-color: var(--myGreen);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--myRadius);
    display: none;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 99999;
}

#edit-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}

.edit-form-title {
    padding: 1em;
    display: none;
}

.note-edit-title-container {
    padding-top: 1em;
}

.note-edit-title-container,
.note-edit-subtext-container {
    flex: 1 0 100%; 
    display: flex;   
    justify-content: center;
}

.note-edit-subtext-container {
}

#note-edit-title,
#note-edit-subtext {
    padding: 2em;
    border: none;
    border-radius: var(--myRadius);
    width: 100%;
}

#note-edit-title {

}


.note-edit-button-container {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}

.edit-save,
.edit-discard {
    font-size: 1rem;
    padding-bottom: 1em;
}

.edit-save:hover,
.edit-discard:hover {
    cursor: pointer;
}

.edit-discard {
    margin-left: 1em;
}
/***************
NOTES LIST ITEM FOOTER
***************/
#notes-list-item-footer {
    display: flex;
    justify-content: flex-end;
    color: var(--fontColor);
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 2em;
    opacity: 0.5;
    font-size: 0.7rem;
}

@media only screen and (min-width: 780px) {
    .wrap {
        width: 70%;
    }
}
@media only screen and (min-width: 1100px) {
    .wrap {
        max-width: 800px;
    }
}